{% extends "starting.html" %}



{% block content %}

</nav>

<div class="login" style="text-align: center">
    <div class="login-screen">
        <div class="app-title">

            <h1>Login</h1>
            {% if error %}
            <p><strong>Error:</strong> {{ error }}
                {% endif %}
        </div>



        <form action="/login" method="POST">
            <div class="login-form">
                {{ form.csrf_token }}
                <div class="control-group">

                    {{ form.username.label }}
                    {{ form.username }}

                </div>
                <div class="control-group">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                <input type="submit" value="Log in" class="btn">


        </form>


    </div>
</div>
</div>
{% endblock %}