{% extends "starting.html" %}



<body>
  {% block content %}

  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-12 text-center">
        <h1 class="mt-5">10 Cities forecast </h1>

        <p class="lead">Minimalistic everyday forecast!</p>
        <p>
          <form class="form-inline" method="POST" action="{{ url_for('result') }}">

            <div class="select">

              <select name="comp_select" class="selectpicker form-control">
                {% for o in data %}
                <option value="{{ o.name }}">{{ o.name }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn">Go</button>



          </form>
        </p>

        <table>
          <p><strong>Last landing on the page at: {{now}}</strong></p>
        </table>

        <h2>Todays radar map of Europe sky</h2>
        <a href='http://en.sat24.com/en' target='sat24'><img src='https://api.sat24.com/mostrecent/EU/visual5hdcomplete'
            width=500 height=304></a>

        <hr>
        <h2>Explore this cities via GoogleMaps</h2>
        <iframe width='75%' height='60%' id='mapcanvas'
          src='https://maps.google.com/maps?q=London,%20United%20Kingdom&Roadmap&z=10&ie=UTF8&iwloc=&output=embed'
          frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
          <div style='overflow:hidden;'>
            <div id='gmap_canvas' style='height:100%;width:700px;'></div>
            <div class='zxos8_gm'><a rel='nofollow' href='https://www.twinstiarasandtantrums.com/'>Twins and
                Tantrums</a></div>
            <div><small>Powered by <a href='https://www.embedgooglemap.co.uk'>Embed Google Map</a></small></div>
        </iframe>
        <hr>
        <ul class="list-unstyled">


        </ul>
      </div>
    </div>

  </div>


  {% endblock %}

</body>